#root {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.container {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    min-height: 100%;
}
.game-turns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
}
.game-setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.final-score-section {
    margin: 5px;
}
.player-turn {
    border: 1px solid purple;
}
.new-game {
    width: 10%;
    height: 10vh;
    background-color: white;
    border: 1px solid #ccc;
}