body {
    background: url('./assets/images/hawaii.jpg') no-repeat center center /cover;
    color: rgb(255, 255, 255);
    margin:0;
    padding:0;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100%;
    z-index: 1;
    position: relative;
    font-weight: 800;
}
.white-background {
    top:10%;
    right: 10%;
    width: 80%;
    height: 80%;
    position: absolute;
    background-color: rgb(164, 247, 139);
    z-index: -1;
    opacity: 0.5;
    border-radius: 5px;
}
#root {
    font-weight: 800;
    box-sizing: border-box;
}
button {
    font-family: 'BioRhyme', serif;
    font-weight: 800;
    font-size: 1.5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0px 5px;
}
button:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
.container {
    margin: 3vh 0vw;
    height: 100%;
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
/* .game-turns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.game-setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.final-score-section {
    margin: 5px;
}
.players-turn {
    /* border: 3px solid lightpink; */
    background-color: #080235;
    color:#35e5f1;
}
.new-game-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-game {
    width: 35%;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(19, 19, 19);
    min-height: 100%;
    min-width: 100%;
    border-radius: 10px;
}
i {
    margin: 1vh 0.5vw;
}
.roll-dices {
    animation: rotate 1s ease-in-out;
}
@keyframes rotate {
    to {
        transform : rotate(50deg);
        color: red;
    }
}
